{% extends 'stocks/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> Your Transactions </h1>
                <table class="table table-hover">
                    <tr>
                        <th> Stock </th>
                        <th> Shares </th>
                        <th> Bought/Sold </th>
                        <th> Price per Stock </th>
                        <th> Date </th>
                    </tr>
                    {% for stock in transactions %}
                    <tr class="table-active">
                        <td> {{ stock.symbol }} </td>
                        <td> {{ stock.shares }} </td>
                        <td> {{ stock.bought }} </td>
                        <td> @ ${{ stock.price }} </td>
                        <td> on {{ stock.date }} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
